{{ partial "header.html" . }}

<body class="is-preload">

    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="/"><img src="images/twitter.png" width="100%" style="border-radius: 50%;"/></a>
                    </div>
                    <div class="content">
                        <div class="inner">
                            <h2>{{ .Title | default "Title" }}</h2>
                            {{ if .Params.description }}
                                {{ .Params.description }}
                            {{ end }}
                            <br /><br />
                            <iframe src="https://anchor.fm/the-alchemical-mind/embed" height="102px" width="100%" frameborder="0" scrolling="no"></iframe>
                            <div style="margin-bottom: -20px !important;">&nbsp;</div>
                        </div>
                    </div>
                    <ul class="icons">
                      <li>
                        <a href="https://podcasts.apple.com/podcast/id1511325742" title="Subscribe via Apple Podcasts" target="_blank"><span class="fab fa-apple"></span></a>
                      </li>
                      <li>
                        <a href="https://open.spotify.com/show/2ZOhy8aSpJEU5mtfT5ia2T" title="Subscribe via Spotify" target="_blank"><span class="fab fa-spotify"></span></a>
                      </li>
                      <li>
                        <a href="https://anchor.fm/s/1b4f7bec/podcast/rss" title="Subscribe via RSS" target="_blank"><span class="fas fa-rss"></span></a>
                      </li>
                      <li>
                        <a href="https://www.youtube.com/channel/UCfkXO9mUAeGavRY0iq25B9g?view_as=subscriber" title="The Alchemical Mind on YouTube" target="_blank"><span class="fab fa-youtube"></span></a>
                      </li>
                      <li>
                        <a href="https://www.patreon.com/thealchemicalmind" title="Support us on Patreon" target="_blank"><span class="fab fa-patreon"></span></a>
                      </li>
                      <li>
                        <a href="https://twitter.com/mindalchemical" title="Follow us on Twitter" target="_blank"><span class="fab fa-twitter"></span></a>
                      </li>
                      <li>
                        <a href="https://discord.gg/MUfxZn3" title="Join us on Discord" target="_blank"><span class="fab fa-discord"></span></a>
                      </li>
                    </ul>
                </header>
                {{ partial "design.html" .}}
        </div>

    <!-- BG -->
    <div id="bg"></div>

</body>

{{ partial "footer.html" .}}
